
@{
    ViewBag.Title = "MainPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
<h2>MainPage</h2>




<center>
    <table id="tblDivision" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Conference</th>
                <th>Division</th>
                <th>Rank</th>
                <th>TeamName</th>
                <th>City</th>
                <th>Coach</th>
                <th>Win - Loss</th>
                <th>First 5 Player</th>
            </tr>

        </thead>
        <tbody></tbody>
    </table>
</center>
<script src="~/Scripts/jquery-3.5.1.js"></script>
<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
<script src="~/Scripts/MyScipts/Myscripts.js"></script>

